.container {
  max-width: 1100px;
  margin: 1rem auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* .player {
  width: 600px;
  height: 600px;
  margin-left: 2rem;
  background-color: #fff;
} */
.videoBody {
  width: 75%;
  margin-left: 2rem;
}
.title {
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: 400;
}
.subTitle {
  color: rgb(170, 170, 170);
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: 450;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.right {
  margin-right: 1rem;
  font-size: 1.2rem;
  position: relative;
}
.btn {
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: 1.2rem;
}
.large {
  display: block;
}
.medium,
.mobile {
  display: none;
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
    margin: 1rem auto;
  }
  .large,
  .mobile {
    display: none;
  }
  .medium {
    display: block;
    margin-left: 5%;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 480px;
    margin: 1rem auto;
  }
  .large,
  .medium {
    display: none;
  }
  .mobile {
    display: block;
  }
  .subTitle {
    flex-direction: column;
  }
  .icons {
    margin-top: 0.5rem;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
  }
  .right {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
  .title {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
}
